/DMM_KiCAD_V3_next/DMM_KiCAD_V3_next-backups
DMM_KiCAD_V3_next/~$DMM BOM for Elecrow.xlsx
DMM_KiCAD_V3_next/~$DMM on R4_XIAO pasts list.xlsx
DMM_KiCAD_V3_next/~$DMM on R4 BOM.xlsx
DMM_KiCAD_V3_next/DMM_KiCAD_V3_next.csv
DMM_KiCAD_V3_next/DMM BOM for Elecrow.xlsx
DMM_KiCAD_V3_next KiCAD9/DMM_KiCAD_V3_next-backups/DMM_KiCAD_V3_next-2025-06-22_211742.zip
DMM_KiCAD_V3_next KiCAD9/DMM_KiCAD_V3_next-backups/DMM_KiCAD_V3_next-2025-06-22_212432.zip
DMM_KiCAD_V3_next KiCAD9/DMM_KiCAD_V3_next-backups/DMM_KiCAD_V3_next-2025-06-22_213026.zip
DMM_KiCAD_V3_next KiCAD9/DMM_KiCAD_V3_next-backups/DMM_KiCAD_V3_next-2025-06-22_213953.zip
DMM_KiCAD_V3_next KiCAD9/DMM_KiCAD_V3_next-backups/DMM_KiCAD_V3_next-2025-06-22_214542.zip
DMM_KiCAD_V3_next KiCAD9/DMM_KiCAD_V3_next-backups/DMM_KiCAD_V3_next-2025-06-24_200321.zip
DMM_KiCAD_V3_next KiCAD9/DMM_KiCAD_V3_next-backups/DMM_KiCAD_V3_next-2025-06-26_203029.zip
DMM_KiCAD_V3_next KiCAD9/DMM_KiCAD_V3_next-backups/DMM_KiCAD_V3_next-2025-06-26_204035.zip
DMM_KiCAD_V3_next KiCAD9/DMM_KiCAD_V3_next-backups/DMM_KiCAD_V3_next-2025-06-26_205203.zip
DMM_KiCAD_V3_next KiCAD9/DMM_KiCAD_V3_next-backups/DMM_KiCAD_V3_next-2025-06-26_211332.zip
DMM_KiCAD_V3_next KiCAD9/DMM_KiCAD_V3_next-backups/DMM_KiCAD_V3_next-2025-06-26_211925.zip
DMM_KiCAD_V3_next KiCAD9/DMM_KiCAD_V3_next-backups/DMM_KiCAD_V3_next-2025-06-27_062004.zip
DMM_KiCAD_V3_next KiCAD9/DMM_KiCAD_V3_next-backups/DMM_KiCAD_V3_next-2025-06-27_062910.zip
DMM_KiCAD_V3_next KiCAD9/DMM_KiCAD_V3_next-backups/DMM_KiCAD_V3_next-2025-06-28_163719.zip
DMM_KiCAD_V3_next KiCAD9/DMM_KiCAD_V3_next-backups/DMM_KiCAD_V3_next-2025-06-28_164425.zip
DMM_KiCAD_V3_next KiCAD9/DMM_KiCAD_V3_next-backups/DMM_KiCAD_V3_next-2025-06-28_164945.zip
DMM_KiCAD_V3_next KiCAD9/DMM_KiCAD_V3_next-backups/DMM_KiCAD_V3_next-2025-06-28_210545.zip
DMM_KiCAD_V3_next KiCAD9/DMM_KiCAD_V3_next-backups/DMM_KiCAD_V3_next-2025-06-28_211211.zip
DMM_KiCAD_V3_next KiCAD9/DMM_KiCAD_V3_next-backups/DMM_KiCAD_V3_next-2025-06-29_194626.zip
DMM_KiCAD_V3_next KiCAD9/DMM_KiCAD_V3_next-backups/DMM_KiCAD_V3_next-2025-07-11_192548.zip
DMM_KiCAD_V3_next KiCAD9/DMM_KiCAD_V3_next-backups/DMM_KiCAD_V3_next-2025-07-13_204914.zip
DMM_KiCAD_V3_next KiCAD9/~$DMM BOM for Elecrow.xlsx
DMM_KiCAD_V3_next KiCAD9/~$DMM on R4 BOM.xlsx
DMM_KiCAD_V3_next KiCAD9/~$DMM on R4_XIAO pasts list.xlsx
