/DMM_KiCAD_V3_next/DMM_KiCAD_V3_next-backups
DMM_KiCAD_V3_next/~$DMM BOM for Elecrow.xlsx
DMM_KiCAD_V3_next/~$DMM on R4_XIAO pasts list.xlsx
DMM_KiCAD_V3_next/~$DMM on R4 BOM.xlsx
DMM_KiCAD_V3_next/DMM_KiCAD_V3_next.csv
DMM_KiCAD_V3_next/DMM BOM for Elecrow.xlsx
DMM_KiCAD_V3_next KiCAD9/DMM_KiCAD_V3_next-backups/DMM_KiCAD_V3_next-2025-06-22_211742.zip
DMM_KiCAD_V3_next KiCAD9/DMM_KiCAD_V3_next-backups/DMM_KiCAD_V3_next-2025-06-22_212432.zip
DMM_KiCAD_V3_next KiCAD9/DMM_KiCAD_V3_next-backups/DMM_KiCAD_V3_next-2025-06-22_213026.zip
DMM_KiCAD_V3_next KiCAD9/DMM_KiCAD_V3_next-backups/DMM_KiCAD_V3_next-2025-06-22_213953.zip
DMM_KiCAD_V3_next KiCAD9/DMM_KiCAD_V3_next-backups/DMM_KiCAD_V3_next-2025-06-22_214542.zip
DMM_KiCAD_V3_next KiCAD9/DMM_KiCAD_V3_next-backups/DMM_KiCAD_V3_next-2025-06-24_200321.zip
DMM_KiCAD_V3_next KiCAD9/DMM_KiCAD_V3_next-backups/DMM_KiCAD_V3_next-2025-06-26_203029.zip
DMM_KiCAD_V3_next KiCAD9/DMM_KiCAD_V3_next-backups/DMM_KiCAD_V3_next-2025-06-26_204035.zip
DMM_KiCAD_V3_next KiCAD9/DMM_KiCAD_V3_next-backups/DMM_KiCAD_V3_next-2025-06-26_205203.zip
DMM_KiCAD_V3_next KiCAD9/DMM_KiCAD_V3_next-backups/DMM_KiCAD_V3_next-2025-06-26_211332.zip
DMM_KiCAD_V3_next KiCAD9/DMM_KiCAD_V3_next-backups/DMM_KiCAD_V3_next-2025-06-26_211925.zip
DMM_KiCAD_V3_next KiCAD9/DMM_KiCAD_V3_next-backups/DMM_KiCAD_V3_next-2025-06-27_062004.zip
DMM_KiCAD_V3_next KiCAD9/DMM_KiCAD_V3_next-backups/DMM_KiCAD_V3_next-2025-06-27_062910.zip
DMM_KiCAD_V3_next KiCAD9/DMM_KiCAD_V3_next-backups/DMM_KiCAD_V3_next-2025-06-28_163719.zip
DMM_KiCAD_V3_next KiCAD9/DMM_KiCAD_V3_next-backups/DMM_KiCAD_V3_next-2025-06-28_164425.zip
DMM_KiCAD_V3_next KiCAD9/DMM_KiCAD_V3_next-backups/DMM_KiCAD_V3_next-2025-06-28_164945.zip
DMM_KiCAD_V3_next KiCAD9/DMM_KiCAD_V3_next-backups/DMM_KiCAD_V3_next-2025-06-28_210545.zip
DMM_KiCAD_V3_next KiCAD9/DMM_KiCAD_V3_next-backups/DMM_KiCAD_V3_next-2025-06-28_211211.zip
DMM_KiCAD_V3_next KiCAD9/DMM_KiCAD_V3_next-backups/DMM_KiCAD_V3_next-2025-06-29_194626.zip
DMM_KiCAD_V3_next KiCAD9/DMM_KiCAD_V3_next-backups/DMM_KiCAD_V3_next-2025-07-11_192548.zip
DMM_KiCAD_V3_next KiCAD9/DMM_KiCAD_V3_next-backups/DMM_KiCAD_V3_next-2025-07-13_204914.zip
DMM_KiCAD_V3_next KiCAD9/~$DMM BOM for Elecrow.xlsx
DMM_KiCAD_V3_next KiCAD9/~$DMM on R4 BOM.xlsx
DMM_KiCAD_V3_next KiCAD9/~$DMM on R4_XIAO pasts list.xlsx
DMM_KiCAD_V3_next KiCAD9/DMM_KiCAD_V3_next KiCAD9-backups/DMM_KiCAD_V3_next KiCAD9-2025-08-02_215133.zip
DMM_KiCAD_V3_next KiCAD9/DMM_KiCAD_V3_next KiCAD9-backups/DMM_KiCAD_V3_next KiCAD9-2025-08-02_214617.zip
DMM_KiCAD_V3_next KiCAD9/DMM_KiCAD_V3_next KiCAD9-backups/DMM_KiCAD_V3_next KiCAD9-2025-08-02_214047.zip
DMM_KiCAD_V3_next KiCAD9/DMM_KiCAD_V3_next KiCAD9-backups/DMM_KiCAD_V3_next KiCAD9-2025-08-02_213246.zip
DMM_KiCAD_V3_next KiCAD9/DMM_KiCAD_V3_next KiCAD9-backups/DMM_KiCAD_V3_next KiCAD9-2025-08-02_212447.zip
DMM_KiCAD_V3_next KiCAD9/DMM_KiCAD_V3_next KiCAD9-backups/DMM_KiCAD_V3_next KiCAD9-2025-08-01_203231.zip
DMM_KiCAD_V3_next KiCAD9/DMM_KiCAD_V3_next KiCAD9-backups/DMM_KiCAD_V3_next KiCAD9-2025-08-01_202459.zip
DMM_KiCAD_V3_next KiCAD9/DMM_KiCAD_V3_next KiCAD9-backups/DMM_KiCAD_V3_next KiCAD9-2025-08-01_201419.zip
DMM_KiCAD_V3_next KiCAD9/DMM_KiCAD_V3_next KiCAD9-backups/DMM_KiCAD_V3_next KiCAD9-2025-08-01_200850.zip
DMM_KiCAD_V3_next KiCAD9/DMM_KiCAD_V3_next KiCAD9-backups/DMM_KiCAD_V3_next KiCAD9-2025-08-01_200117.zip
DMM_KiCAD_V3_next KiCAD9/DMM_KiCAD_V3_next KiCAD9-backups/DMM_KiCAD_V3_next KiCAD9-2025-07-31_195821.zip
DMM_KiCAD_V3_next KiCAD9/DMM_KiCAD_V3_next KiCAD9-backups/DMM_KiCAD_V3_next KiCAD9-2025-07-31_195131.zip
DMM_KiCAD_V3_next KiCAD9/DMM_KiCAD_V3_next KiCAD9-backups/DMM_KiCAD_V3_next KiCAD9-2025-07-30_202938.zip
DMM XIAO V3_AsOrdered/DMM_KiCAD_V3_next KiCAD9-backups/DMM_KiCAD_V3_next KiCAD9-2025-07-13_210903.zip
DMM XIAO V3_AsOrdered/DMM_KiCAD_V3_next KiCAD9-backups/DMM_KiCAD_V3_next KiCAD9-2025-07-20_143611.zip
DMM XIAO V3_AsOrdered/DMM_KiCAD_V3_next KiCAD9-backups/DMM_KiCAD_V3_next KiCAD9-2025-07-20_144308.zip
DMM XIAO V3_AsOrdered/DMM_KiCAD_V3_next KiCAD9-backups/DMM_KiCAD_V3_next KiCAD9-2025-07-23_222918.zip
DMM XIAO V3_AsOrdered/DMM_KiCAD_V3_next KiCAD9-backups/DMM_KiCAD_V3_next KiCAD9-2025-07-27_201627.zip
DMM XIAO V3_AsOrdered/DMM_KiCAD_V3_next KiCAD9-backups/DMM_KiCAD_V3_next KiCAD9-2025-07-30_164049.zip
DMM XIAO V3_AsOrdered/DMM_KiCAD_V3_next KiCAD9-backups/DMM_KiCAD_V3_next KiCAD9-2025-07-30_165056.zip
DMM XIAO V3_AsOrdered/DMM_KiCAD_V3_next KiCAD9-backups/DMM_KiCAD_V3_next KiCAD9-2025-07-30_201301.zip
DMM XIAO V3_AsOrdered/DMM_KiCAD_V3_next KiCAD9-backups/DMM_KiCAD_V3_next KiCAD9-2025-07-30_202317.zip
DMM XIAO V3_AsOrdered/DMM_KiCAD_V3_next KiCAD9-backups/DMM_KiCAD_V3_next KiCAD9-2025-07-30_202938.zip
DMM XIAO V3_AsOrdered/DMM_KiCAD_V3_next KiCAD9-backups/DMM_KiCAD_V3_next KiCAD9-2025-07-31_195131.zip
DMM XIAO V3_AsOrdered/DMM_KiCAD_V3_next KiCAD9-backups/DMM_KiCAD_V3_next KiCAD9-2025-07-31_195821.zip
DMM XIAO V3_AsOrdered/DMM_KiCAD_V3_next KiCAD9-backups/DMM_KiCAD_V3_next KiCAD9-2025-08-01_200117.zip
DMM XIAO V3_AsOrdered/DMM_KiCAD_V3_next KiCAD9-backups/DMM_KiCAD_V3_next KiCAD9-2025-08-01_200850.zip
DMM XIAO V3_AsOrdered/DMM_KiCAD_V3_next KiCAD9-backups/DMM_KiCAD_V3_next KiCAD9-2025-08-01_201419.zip
DMM XIAO V3_AsOrdered/DMM_KiCAD_V3_next KiCAD9-backups/DMM_KiCAD_V3_next KiCAD9-2025-08-01_202459.zip
DMM XIAO V3_AsOrdered/DMM_KiCAD_V3_next KiCAD9-backups/DMM_KiCAD_V3_next KiCAD9-2025-08-01_203231.zip
DMM XIAO V3_AsOrdered/DMM_KiCAD_V3_next KiCAD9-backups/DMM_KiCAD_V3_next KiCAD9-2025-08-02_212447.zip
DMM XIAO V3_AsOrdered/DMM_KiCAD_V3_next KiCAD9-backups/DMM_KiCAD_V3_next KiCAD9-2025-08-02_213246.zip
DMM XIAO V3_AsOrdered/DMM_KiCAD_V3_next KiCAD9-backups/DMM_KiCAD_V3_next KiCAD9-2025-08-02_214047.zip
DMM XIAO V3_AsOrdered/DMM_KiCAD_V3_next KiCAD9-backups/DMM_KiCAD_V3_next KiCAD9-2025-08-02_214617.zip
DMM XIAO V3_AsOrdered/DMM_KiCAD_V3_next KiCAD9-backups/DMM_KiCAD_V3_next KiCAD9-2025-08-02_215133.zip
DMM XIAO V3_AsOrdered/DMM_KiCAD_V3_next KiCAD9-backups/DMM_KiCAD_V3_next KiCAD9-2025-08-03_195223.zip
DMM XIAO V3_AsOrdered/DMM_KiCAD_V3_next-backups/DMM_KiCAD_V3_next-2025-06-22_211742.zip
DMM XIAO V3_AsOrdered/DMM_KiCAD_V3_next-backups/DMM_KiCAD_V3_next-2025-06-22_212432.zip
DMM XIAO V3_AsOrdered/DMM_KiCAD_V3_next-backups/DMM_KiCAD_V3_next-2025-06-22_213026.zip
DMM XIAO V3_AsOrdered/DMM_KiCAD_V3_next-backups/DMM_KiCAD_V3_next-2025-06-22_213953.zip
DMM XIAO V3_AsOrdered/DMM_KiCAD_V3_next-backups/DMM_KiCAD_V3_next-2025-06-22_214542.zip
DMM XIAO V3_AsOrdered/DMM_KiCAD_V3_next-backups/DMM_KiCAD_V3_next-2025-06-24_200321.zip
DMM XIAO V3_AsOrdered/DMM_KiCAD_V3_next-backups/DMM_KiCAD_V3_next-2025-06-26_203029.zip
DMM XIAO V3_AsOrdered/DMM_KiCAD_V3_next-backups/DMM_KiCAD_V3_next-2025-06-26_204035.zip
DMM XIAO V3_AsOrdered/DMM_KiCAD_V3_next-backups/DMM_KiCAD_V3_next-2025-06-26_205203.zip
DMM XIAO V3_AsOrdered/DMM_KiCAD_V3_next-backups/DMM_KiCAD_V3_next-2025-06-26_211332.zip
DMM XIAO V3_AsOrdered/DMM_KiCAD_V3_next-backups/DMM_KiCAD_V3_next-2025-06-26_211925.zip
DMM XIAO V3_AsOrdered/DMM_KiCAD_V3_next-backups/DMM_KiCAD_V3_next-2025-06-27_062004.zip
DMM XIAO V3_AsOrdered/DMM_KiCAD_V3_next-backups/DMM_KiCAD_V3_next-2025-06-27_062910.zip
DMM XIAO V3_AsOrdered/DMM_KiCAD_V3_next-backups/DMM_KiCAD_V3_next-2025-06-28_163719.zip
DMM XIAO V3_AsOrdered/DMM_KiCAD_V3_next-backups/DMM_KiCAD_V3_next-2025-06-28_164425.zip
DMM XIAO V3_AsOrdered/DMM_KiCAD_V3_next-backups/DMM_KiCAD_V3_next-2025-06-28_164945.zip
DMM XIAO V3_AsOrdered/DMM_KiCAD_V3_next-backups/DMM_KiCAD_V3_next-2025-06-28_210545.zip
DMM XIAO V3_AsOrdered/DMM_KiCAD_V3_next-backups/DMM_KiCAD_V3_next-2025-06-28_211211.zip
DMM XIAO V3_AsOrdered/DMM_KiCAD_V3_next-backups/DMM_KiCAD_V3_next-2025-06-29_194626.zip
DMM XIAO V3_AsOrdered/DMM_KiCAD_V3_next-backups/DMM_KiCAD_V3_next-2025-07-11_192548.zip
DMM XIAO V3_AsOrdered/DMM_KiCAD_V3_next-backups/DMM_KiCAD_V3_next-2025-07-13_204914.zip
DMM XIAO V3_AsOrdered/DMM XIAO V3_AsOrdered-B_Cu.gbr
DMM XIAO V3_AsOrdered/DMM XIAO V3_AsOrdered-B_Mask.gbr
DMM XIAO V3_AsOrdered/DMM XIAO V3_AsOrdered-B_Paste.gbr
DMM XIAO V3_AsOrdered/DMM XIAO V3_AsOrdered-B_Silkscreen.gbr
DMM XIAO V3_AsOrdered/DMM XIAO V3_AsOrdered-Edge_Cuts.gbr
DMM XIAO V3_AsOrdered/DMM XIAO V3_AsOrdered-F_Cu.gbr
DMM XIAO V3_AsOrdered/DMM XIAO V3_AsOrdered-F_Mask.gbr
DMM XIAO V3_AsOrdered/DMM XIAO V3_AsOrdered-F_Paste.gbr
DMM XIAO V3_AsOrdered/DMM XIAO V3_AsOrdered-F_Silkscreen.gbr
DMM XIAO V3_AsOrdered/DMM XIAO V3_AsOrdered-In1_Cu.gbr
DMM XIAO V3_AsOrdered/DMM XIAO V3_AsOrdered-In2_Cu.gbr
DMM XIAO V3_AsOrdered/DMM XIAO V3_AsOrdered-job.gbrjob
DMM XIAO V3_AsOrdered/DMM XIAO V3_AsOrdered-NPTH.drl
DMM XIAO V3_AsOrdered/DMM XIAO V3_AsOrdered-PTH.drl
DMM_KiCAD_V3_next KiCAD9/~DMM_KiCAD_V3_next KiCAD9.kicad_pcb.lck
DMM_KiCAD_V3_next KiCAD9/~DMM_KiCAD_V3_next KiCAD9.kicad_sch.lck
NametagVoltmeter/NametagVoltmeter-backups/NametagVoltmeter-2025-08-12_152817.zip
NametagVoltmeter/NametagVoltmeter-backups/NametagVoltmeter-2025-08-12_154400.zip
NametagVoltmeter/NametagVoltmeter-backups/NametagVoltmeter-2025-08-12_155940.zip
NametagVoltmeter/NametagVoltmeter-backups/NametagVoltmeter-2025-08-12_160526.zip
NametagVoltmeter/NametagVoltmeter-backups/NametagVoltmeter-2025-08-12_200641.zip
DMM_KiCAD_V3_next KiCAD9/~DMM_KiCAD_V3_next KiCAD9.kicad_pcb.lck
DMM_KiCAD_V3_next KiCAD9/~DMM_KiCAD_V3_next KiCAD9.kicad_sch.lck
LTSpice/Draft1.log
LTSpice/Draft1.net
LTSpice/Draft1.op.raw
LTSpice/Draft1.raw
DMM_KiCAD_V3_next KiCAD9/~DMM_KiCAD_V3_next KiCAD9.kicad_pcb.lck
~$DMM Collected Spreadsheets.xlsx
DMM_KiCAD_V4_next/DMM_KiCAD_V4_next-backups/DMM_KiCAD_V4_next-2025-08-23_192148.zip
DMM_KiCAD_V4_next/DMM_KiCAD_V4_next-backups/DMM_KiCAD_V4_next-2025-08-23_193316.zip
DMM_KiCAD_V4_next/DMM_KiCAD_V4_next-backups/DMM_KiCAD_V4_next-2025-08-23_200049.zip
NametagVoltmeter/NametagVoltmeter-backups/NametagVoltmeter-2025-08-23_124324.zip
NametagVoltmeter/NametagVoltmeter-backups/NametagVoltmeter-2025-08-23_191025.zip
NametagVoltmeter/NametagVoltmeter-backups/NametagVoltmeter-2025-08-23_191828.zip
NametagVoltmeter/NametagVoltmeter-backups/NametagVoltmeter-2025-08-23_193214.zip
DMM_KiCAD_V4_next/DMM_KiCAD_V4_next-backups/DMM_KiCAD_V4_next-2025-08-30_145653.zip
DMM Giga Shield Version/DMM Giga Shield Version-backups/DMM Giga Shield Version-2025-09-06_090804.zip
DMM Giga Shield Version/DMM Giga Shield Version-backups/DMM Giga Shield Version-2025-09-06_092736.zip
DMM Giga Shield Version/DMM Giga Shield Version-backups/DMM Giga Shield Version-2025-09-06_093259.zip
DMM Giga Shield Version/DMM_KiCAD_V4_next-backups/DMM_KiCAD_V4_next-2025-08-14_182337.zip
DMM Giga Shield Version/DMM_KiCAD_V4_next-backups/DMM_KiCAD_V4_next-2025-08-14_183421.zip
DMM Giga Shield Version/DMM_KiCAD_V4_next-backups/DMM_KiCAD_V4_next-2025-08-16_095317.zip
DMM Giga Shield Version/DMM_KiCAD_V4_next-backups/DMM_KiCAD_V4_next-2025-08-23_192148.zip
DMM Giga Shield Version/DMM_KiCAD_V4_next-backups/DMM_KiCAD_V4_next-2025-08-23_193316.zip
DMM Giga Shield Version/DMM_KiCAD_V4_next-backups/DMM_KiCAD_V4_next-2025-08-23_200049.zip
DMM Giga Shield Version/DMM_KiCAD_V4_next-backups/DMM_KiCAD_V4_next-2025-08-30_145653.zip
DMM Giga Shield Version/DMM_KiCAD_V4_next-backups/DMM_KiCAD_V4_next-2025-08-31_060157.zip
DMM Giga Shield Version/DMM_KiCAD_V4_next-backups/DMM_KiCAD_V4_next-2025-08-31_061230.zip
DMM Giga Shield Version/DMM_KiCAD_V4_next-backups/DMM_KiCAD_V4_next-2025-08-31_062232.zip
DMM Giga Shield Version/DMM_KiCAD_V4_next-backups/DMM_KiCAD_V4_next-2025-09-06_090722.zip
DMM XIAO Specific Footprint/DMM_KiCAD_V4_next-backups/DMM_KiCAD_V4_next-2025-08-14_182337.zip
DMM XIAO Specific Footprint/DMM_KiCAD_V4_next-backups/DMM_KiCAD_V4_next-2025-08-14_183421.zip
DMM XIAO Specific Footprint/DMM_KiCAD_V4_next-backups/DMM_KiCAD_V4_next-2025-08-16_095317.zip
DMM XIAO Specific Footprint/DMM_KiCAD_V4_next-backups/DMM_KiCAD_V4_next-2025-08-23_192148.zip
DMM XIAO Specific Footprint/DMM_KiCAD_V4_next-backups/DMM_KiCAD_V4_next-2025-08-23_193316.zip
DMM XIAO Specific Footprint/DMM_KiCAD_V4_next-backups/DMM_KiCAD_V4_next-2025-08-23_200049.zip
DMM XIAO Specific Footprint/DMM_KiCAD_V4_next-backups/DMM_KiCAD_V4_next-2025-08-30_145653.zip
DMM XIAO Specific Footprint/DMM_KiCAD_V4_next-backups/DMM_KiCAD_V4_next-2025-08-31_060157.zip
DMM XIAO Specific Footprint/DMM_KiCAD_V4_next-backups/DMM_KiCAD_V4_next-2025-08-31_061230.zip
DMM XIAO Specific Footprint/DMM_KiCAD_V4_next-backups/DMM_KiCAD_V4_next-2025-08-31_062232.zip
DMM XIAO Specific Footprint/DMM_KiCAD_V4_next-backups/DMM_KiCAD_V4_next-2025-09-06_090722.zip
DMM_KiCAD_V4_next/DMM_KiCAD_V4_next-backups/DMM_KiCAD_V4_next-2025-08-31_060157.zip
DMM_KiCAD_V4_next/DMM_KiCAD_V4_next-backups/DMM_KiCAD_V4_next-2025-08-31_061230.zip
DMM_KiCAD_V4_next/DMM_KiCAD_V4_next-backups/DMM_KiCAD_V4_next-2025-08-31_062232.zip
DMM_KiCAD_V4_next/DMM_KiCAD_V4_next-backups/DMM_KiCAD_V4_next-2025-09-06_090722.zip
DMM_KiCAD_V4_next/DMM_KiCAD_V4_next-backups/DMM_KiCAD_V4_next-2025-09-06_091405.zip
*.lck
DMM XIAO V3_AsOrdered/~DMM XIAO V3_AsOrdered.kicad_pcb.lck
DMM XIAO V3_AsOrdered/~DMM XIAO V3_AsOrdered.kicad_pcb.lck
